APP_PORT=8099
JWT_SECRET=abracadabra
DATABASE_URL="postgresql://symfony:ChangeMe@127.0.0.1:5432/app"
BILLING_SERVICE=http://localhost:8082

# migrate -source file://migrations -database "postgresql://postgres:postgres@127.0.0.1:5432/identity?sslmode=disable" up